# Maven
target/
*.class
*.factorypath
**/HELP.md

# IDE
.settings/
.project
.classpath
.idea/
*.iml
.vscode/

# Env & secrets
.env
.env.*
!.env.example
*.pem
private_key_base64.txt
public_key_base64.txt
infra/keys/

# OS
.DS_Store
Thumbs.db
.metadata


# Logs
*.log
logs/
**/logs/

# Maven reports
**/target/site/
